@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<WeLearnOnine_Website.Models.Course>

@if (Model != null)
{
    @foreach (var p in Model)
    {
        <div class="courese-wrapper col-md-6 col-lg-3">
            <div class="courses-item">
                <a href="course-details.html" class="link">


                    <div class="courses-item-inner">

                        <div class="img-box">
                            <img src="~/img/courses/web-development/web3.jpg" alt="course img">
                        </div>
                        <h3 class="title">@p.Title</h3>
                        <div class="instructor">
                            <img src="~/img/instructor/1.png" alt="instructor img">
                            <span class="instructor-name"></span>
                        </div>
                        <div class="rating">
                            <span class="average-rating">@p.Rating</span>
                            <span class="average-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </span>
                            <span class="reviews">(1.050)</span>
                        </div>
                        @if (p.DiscountPrice > 0)
                        {
                            <div class="price-discount d-flex align-items-center">
                                <span>&#8363;</span>
                                @p.Price.ToString("N0")
                            </div>
                            <div class="price d-flex align-items-center">
                                <span>&#8363;</span>
                                <p>Price: @p.DiscountPrice.ToString()</p>


                            </div>
                        }
                        else
                        {
                            <div class="price d-flex align-items-center">
                                <span>&#8363;</span>
                                @p.Price.ToString("N0")

                            </div>
                        }


                    </div>
                </a>

            </div>

        </div>
        <!-- courses item end -->
    }

}
else
{
    <p>Không tìm thấy kết quả</p>
}