@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<WeLearnOnine_Website.Models.Course>

@if (Model != null)
{
    <section class="courses-section section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-title text-center">
                        <h2 class="title">All courses</h2>
                        <p class="sub-title">Search results are by keyword</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
               
                @foreach (var p in Model)
                {
                    <div class="courese-wrapper col-md-6 col-lg-3">
                        <div class="courses-item">
                            <a asp-controller="Course" asp-action="Details" asp-route-id="@p.CourseId" class="link">


                                <div class="courses-item-inner">

                                    <div class="img-box">
                                        <img src="@p.ImageCourseUrl" alt="course img">
                                    </div>
                                    <h3 class="title">@p.Title</h3>
                                    <div class="instructor">
                                        <img src="@p.Staff.AvatarUrl" alt="instructor img">
                                        <span class="instructor-name">@p.Staff.StaffName</span>
                                    </div>
                                    <div class="rating">
                                        <span class="average-rating">@p.Rating</span>
                                        <span class="average-stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </span>
                                        <span class="reviews">(1.050)</span>
                                    </div>
                                    @if (p.DiscountPrice > 0)
                                    {
                                        <div class="price-discount d-flex align-items-center">
                                            @p.Price.ToString("#,##0") đ
                                        </div>
                                        <div class="price d-flex align-items-center">
                                            <p>@String.Format("{0:#,##0}", p.DiscountPrice) đ</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="price d-flex align-items-center">
                                            @p.Price.ToString("#,##0") đ
                                        </div>
                                    }


                                </div>
                            </a>

                        </div>

                    </div>
                    <!-- courses item end -->
                }

            </div>
           
        </div>
    </section>

}
else
{
    <p>Không tìm thấy kết quả</p>
}