@model IEnumerable<WeLearnOnine_Website.Models.User>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<script>
    @if (!string.IsNullOrEmpty(ViewBag.SearchMessage))
    {
        <text>
                        // Chuyển giá trị từ ViewBag.SearchMessage sang biến JavaScript
                        var searchMessage = "@Html.Raw(ViewBag.SearchMessage)";

        // Hiển thị thông báo pop-up
        Swal.fire({
            icon: 'info',
            title: 'Thông báo',
            text: searchMessage,
            willClose: () => {
                // Chuyển hướng về trang Index
                window.location.href = '@Url.Action("Index", "User")';
            }
        });
        </text>
    }
</script>
@{
    ViewData["Title"] = "ListLesson";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@if (TempData["lessonError"] != null)
{
    <div class="bs-toast toast toast-placement-ex m-2 fade bg-warning top-0 end-0 show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">Notification</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">@TempData["userError"]</div>
    </div>
}
@if (TempData["userSuccess"] != null)
{
    <div class="bs-toast toast toast-placement-ex m-2 fade bg-success top-0 end-0 show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">Notification</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">@TempData["lessonSuccess"]</div>
    </div>
}

<h4 class="py-3 mb-4"><span class="text-muted fw-light">User /</span> List User</h4>

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">DataTable User</h5>
            <div>
                <div class="dropdown">
                    <button class="dropdown-btn badge bg-label-primary align-items-center"><i class="bx bx-export me-sm-1"></i> Export <i class="bi bi-chevron-down fs-6"></i></button>
                    <div class="dropdown-content">
                        <a href="#"><i class="bx bxs-file-pdf me-2"></i> PDF</a>
                        <a href="#">
                            @using (Html.BeginForm("ExportCsv", "User", FormMethod.Get))
                            {

                                <i class="bx bx-file me-1"></i>
                                <button type="submit" style="outline:none; border: none; background-color: transparent">Csv</button>
                            }
                        </a>
                        <a href="#"><i class="bx bx-printer me-2"></i> Print</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between  align-items-center mt-3">
            <!-- Dropdown List for Categories -->
            <div class="form-group">
            </div>

            <div id="DataTables_Table_0_filter" class="dataTables_filter d-flex">
                <form asp-controller="User" asp-action="Search" method="post">
                    <label class="d-flex align-items-center">
                        Search:
                        <input type="search" class="form-control ms-2" placeholder="" name="keyword"><button class="btn btn-primary">Tìm</button>
                    </label>
                </form>
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Avatar
                        </th>
                        <th>
                            User Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Phone
                        </th>     
                        <th>
                            Create date
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="text-align: center">
                            <td>
                                <img src="@item.Avatar" width="100" height="100" style="border-radius: 100%; object-fit:cover;" />
                            </td>
                            <td><span>@item.UserName</span></td>
                            <td>@item.Email</td>
                            <td>@item.Address</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.CreateAt</td>
                            <td>
                                <div class="d-flex align-item justify-content-center">
                                    <a class="btn btn-sm btn-primary btn-show" href="#" type="button" data-bs-toggle="modal" data-bs-target="#myModal-@item.UserId">Show</a>
                                    <a class="ms-2" data-bs-toggle="modal" data-bs-target="#smallModal-@item.UserId" style="cursor: pointer">
                                        <span class="badge bg-label-danger">
                                            <i class="bx bx-trash"></i>
                                        </span>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        @* Small Model Delete *@
                        <div class="modal fade" id="smallModal-@item.UserId" tabindex="-1" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel2">Notification</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col mb-3">
                                                <h3>Do you want to delete?</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="myModal-@item.UserId">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-body" id="modal-content-@item.UserId">
                                        @await Html.PartialAsync("_PopupUserViewPartial", item)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Hiển thị phân trang -->
    <nav aria-label="..." class="d-flex justify-content-center" style="margin-top: 20px">
        <ul class="pagination">
            @if (ViewBag.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
    <!-- Hiển thị phân trang -->
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-btn {
            padding: 10px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 130px;
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            z-index: 1;
            border-radius: 0px 5px 5px;
        }

            .dropdown-content a {
                color: #333;
                text-decoration: none;
                padding: 5px 8px;
                display: block;
                width: 100%;
                transition: .3s ease;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</div>

