@model WeLearnOnine_Website.Models.Course

@{
    ViewData["Title"] = "EditCourse";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    var selectedCategories = Model.SelectedCategories ?? new List<int>();
}


<div class="container-fuild flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Edit</h4>
    <form asp-action="UpdateCourse" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl">
                <div class="card">
                    <div class="card-body">
                        <input class="form-control" asp-for="CourseId" asp-validation-for="CourseId" id="i-input" />
                        <script>
                            document.getElementById("i-input").style.display = "none";
                        </script>

                        <div class="input-group my-3">
                            <label class="input-group-text" asp-for="StaffId">Staff Name</label>
                            <select asp-for="StaffId" asp-items="ViewBag.StaffId" class="form-select">
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label" asp-for="Title"></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" asp-for="Title" asp-validation-for="Title"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label" asp-for="ShortDescription"></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="ShortDescription" asp-validation-for="ShortDescription"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label" asp-for="Description"></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" asp-for="Description" asp-validation-for="Description"></textarea>
                        </div>

                        <div>
                            <label for="exampleFormControlTextarea1" class="form-label" asp-for="Required"></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="Required" asp-validation-for="Required"></textarea>
                        </div>

                        <div class="form-group">
                            <label asp-for="SelectedCategories">Select Categories:</label>
                            <select asp-for="SelectedCategories" asp-items="@(new SelectList(ViewBag.Categories, "Value", "Text", Model.SelectedCategories))" multiple class="form-select" style="height: 150px"></select>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="card">
                    <div class="card-body">
                        @* <div class="mb-3">
                            <label asp-for="ImageCourseUrl" class="form-label">Course Image</label>
                            <input type="file" class="form-control" id="ImageCourseUrl" name="ImageCourseUrl" onchange="checkFileSize(this, 200)">
                            <input type="hidden" name="ExistingImageCourseUrl" value="@Model.ImageCourseUrl" />
                            
                            <label id="ImageCourseUrl-error" class="text-danger"></label>
                        </div> *@

                        <div class="mb-3">
                            <div class="row justify-content-between">
                                <div class="col-md-9">
                                    <label asp-for="ImageCourseUrl" class="form-label">Course Image</label>
                                    <input type="file" class="form-control" id="ImageCourseUrl" name="ImageCourseUrl" onchange="checkFileSize(this, 200)">
                                    <label id="ImageCourseUrl-error" class="text-danger"></label>

                                    <input type="hidden" name="ExistingImageCourseUrl" value="@Model.ImageCourseUrl" id="ExistingImageCourseUrl" />
                                    <label id="CurrentAvatarUrl-error" class="text-danger"></label>
                                </div>
                                <div class="col-md-3">
                                    <div id="imagePreview" style="display: none; width: 100%">
                                        <img id="selectedImage" src="" alt="Selected Image" height="100" style="width: 100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            const fileInput = document.getElementById('ImageCourseUrl');
                            const imagePreview = document.getElementById('imagePreview');
                            const selectedImage = document.getElementById('selectedImage');
                            const currentAvatarUrl = document.getElementById('ExistingImageCourseUrl').value;

                            // Display the current image if it exists
                            if (currentAvatarUrl) {
                                selectedImage.src = currentAvatarUrl;
                                imagePreview.style.display = 'inline-block';
                            }

                            fileInput.addEventListener('change', function () {
                                const file = fileInput.files[0];
                                if (file) {
                                    const reader = new FileReader();
                                    reader.onload = function (e) {
                                        selectedImage.src = e.target.result;
                                        imagePreview.style.display = 'inline-block';
                                    };
                                    reader.readAsDataURL(file);
                                } else {
                                    selectedImage.src = '';
                                    imagePreview.style.display = 'none';
                                }
                            });
                        </script>

                        @* <div class="mb-3">
                            <label asp-for="PreviewUrl" class="form-label">Course Video</label>
                            <input type="file" class="form-control" id="PreviewUrl" name="PreviewUrl" onchange="checkFileSize(this, 200)">
                            <input type="hidden" name="ExistingPreviewUrl" value="@Model.PreviewUrl" />
                            <label id="PreviewUrl-error" class="text-danger"></label>
                        </div> *@

                        <div class="mb-3">
                            <label asp-for="PreviewUrl" class="form-label">Course Video</label>
                            <input type="file" class="form-control" id="PreviewUrl" name="PreviewUrl" onchange="updateTotalTimeAndHeight(this, 200)">
                            <input type="hidden" name="ExistingPreviewUrl" value="@Model.PreviewUrl" />
                            <label id="PreviewUrl-error" class="text-danger"></label>
                        </div>

                        <div class="mb-3">
                            <label for="defaultInput" class="form-label" asp-for="TimeTotal">Total course time (s)</label>
                            <input id="defaultInput" class="form-control" type="number" placeholder="120" asp-for="TimeTotal">
                        </div>

                        <video controls id="videoPreview" style="max-height: 300px; display: none;"></video>

                        <script>
                            function updateTotalTimeAndHeight(input, maxHeight) {
                                const file = input.files[0];

                                if (file) {
                                    const reader = new FileReader();
                                    reader.onload = function (e) {
                                        const video = document.createElement('video');
                                        video.src = e.target.result;

                                        video.onloadedmetadata = function () {
                                            const totalSeconds = Math.round(video.duration);
                                            const timeInput = document.getElementById('defaultInput');
                                            timeInput.value = totalSeconds; // Cập nhật tổng thời gian vào trường TimeTotal

                                            const videoPreview = document.getElementById('videoPreview');
                                            videoPreview.src = e.target.result;
                                            videoPreview.style.display = 'block';
                                        };
                                    };
                                    reader.readAsDataURL(file);
                                } else {
                                    const videoPreview = document.getElementById('videoPreview');
                                    videoPreview.style.display = 'none';
                                    const timeInput = document.getElementById('defaultInput');
                                    timeInput.value = ''; // Reset giá trị thời gian khi không có video
                                }
                            }
                        </script>

                        <div class="input-group input-group-merge my-3">
                            <label class="input-group-text" asp-for="Price">Price</label>
                            <input type="text" class="form-control" placeholder="1,000,000" aria-label="Amount (to the nearest dollar)" asp-for="Price" value="@Model.Price.ToString("#,##0")">
                            <span class="input-group-text">VND</span>
                        </div>

                        <div class="input-group input-group-merge my-3">
                            <label class="input-group-text" asp-for="DiscountPrice">Discount Price</label>
                            <input type="text" class="form-control" placeholder="999,000" aria-label="Amount (to the nearest dollar)" asp-for="DiscountPrice" value="@String.Format("{0:#,##0}", Model.DiscountPrice)">
                            <span class="input-group-text">VND</span>
                        </div>
                        <div class="text-danger" id="discountPriceWarning"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                var discountPriceInput = document.querySelector("[name='DiscountPrice']");
                                var priceInput = document.querySelector("[name='Price']");
                                var discountPriceWarning = document.getElementById("discountPriceWarning");

                                discountPriceInput.addEventListener("input", function (e) {
                                    var discountPriceValue = e.target.value.replace(/[^0-9,]/g, '');
                                    discountPriceValue = discountPriceValue.replace(/,/g, "");
                                    discountPriceValue = addCommas(discountPriceValue);

                                    if (parseInt(discountPriceValue.replace(/,/g, '')) >= parseInt(priceInput.value.replace(/,/g, ''))) {
                                        discountPriceWarning.textContent = "DiscountPrice must be lower than Price!!";
                                    } else {
                                        discountPriceWarning.textContent = "";
                                        e.target.value = discountPriceValue;
                                    }
                                });

                                discountPriceInput.addEventListener("keydown", function (e) {
                                    var key = e.key;
                                    var discountPriceValue = discountPriceInput.value.replace(/[^0-9,]/g, '');

                                    if (key >= '0' && key <= '9' && parseInt(discountPriceValue.replace(/,/g, '')) === parseInt(priceInput.value.replace(/,/g, ''))) {
                                        e.preventDefault();
                                        discountPriceWarning.textContent = "DiscountPrice must be lower than Price!!";
                                    }
                                });

                                function addCommas(value) {
                                    return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                }
                            });
                        </script>

                        <div class="form-check form-switch my-3">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" asp-for="Status" style="width: 70px;height:30px;"> Status
                            <label class="form-check-label mx-3" for="Status"> of trending</label>
                        </div>

                        <div class="mb-3">
                            <label for="defaultInput" class="form-label" asp-for="Count">Total buyers</label>
                            <input id="defaultInput" class="form-control" type="number" placeholder="1200" asp-for="Count">
                        </div>

                        <div class="mb-3">
                            <label for="defaultInput" class="form-label" asp-for="Language"></label>
                            <input id="defaultInput" class="form-control" type="text" placeholder="English" asp-for="Language">
                        </div>

                        <div class="mb-3">
                            <label for="defaultInput" class="form-label" asp-for="TimeTotal">Total course time (mins)</label>
                            <input id="defaultInput" class="form-control" type="number" placeholder="120" asp-for="TimeTotal">
                        </div>

                        <div class="input-group my-3">
                            <label class="input-group-text" asp-for="LevelId">Level</label>
                            <select asp-for="LevelId" asp-items="ViewBag.LevelId" class="form-select">
                            </select>
                        </div>

                        <div class="mt-3 d-flex justify-content-end">
                           @*  <input class="btn btn-primary mx-3" value="Update" type="submit"> *@

                            <a data-bs-toggle="modal" data-bs-target="#smallModal-update" style="cursor: pointer;">
                                <span class="btn btn-primary">
                                    <i class="bx bx-edit-alt"></i> Update
                                </span>
                            </a>

                            <a asp-action="Index" class="btn btn-outline-secondary ms-2">
                                <span>Cancel</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="smallModal-update" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Notification</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-3">
                                <h3>Are you sure you want to Update?</h3>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>

                        <input class="btn btn-success mx-3" value="Confirm" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
