@* @model IEnumerable<WeLearnOnine_Website.Models.Course> *@
@model List<WeLearnOnine_Website.ViewModels.CourseViewModel>
@* @model WeLearnOnine_Website.ViewModels.CategoryCourseViewModel *@

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<script>
    @if (!string.IsNullOrEmpty(ViewBag.SearchMessage))
    {
        <text>
                // Chuyển giá trị từ ViewBag.SearchMessage sang biến JavaScript
                var searchMessage = "@Html.Raw(ViewBag.SearchMessage)";

        // Hiển thị thông báo pop-up
        Swal.fire({
            icon: 'info',
            title: 'Thông báo',
            text: searchMessage,
            willClose: () => {
                // Chuyển hướng về trang Index
                window.location.href = '@Url.Action("Index", "Course")';
            }
        });
        </text>
    }
</script>

@{
    ViewData["Title"] = "ListCourse";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@if (TempData["courseError"] != null)
{
    <div class="bs-toast toast toast-placement-ex m-2 fade bg-warning top-0 end-0 show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">Notification</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">@TempData["courseError"]</div>
    </div>
}
@if (TempData["courseSuccess"] != null)
{
    <div class="bs-toast toast toast-placement-ex m-2 fade bg-success top-0 end-0 show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">Notification</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">@TempData["courseSuccess"]</div>
    </div>
}

<h4 class="py-3 mb-4"><span class="text-muted fw-light">Course /</span> Course Table</h4>


@* <button type="button" class="btn rounded-pill btn-primary">Primary</button> *@
<p>@TempData["Message"]</p>
<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
           
            <div class="form-group">
                <label class="d-flex align-items-center">
                    Category:
                    @*  <select id="categorySelect" asp-for="SelectedCategoryId">
                    <option value="0">-- Chọn danh mục --</option>
                    @foreach (var category in Model.Categories)
                    {
                    <option value="@category.CategoriesId">@category.CategoryName</option>
                    }
                    </select> *@

                    <form asp-action="ShowCourseByCategory" method="get" class="form-inline">
                        <select asp-items="ViewBag.CategoryId" name="CategoryId" onchange="forms[0].submit()"></select>
                    </form>
                </label>
            </div>
            <div id="DataTables_Table_0_filter" class="dataTables_filter d-flex">
                <form asp-controller="Course" asp-action="Search" method="post">
                    <label class="d-flex align-items-center">
                        Search:
                        <input type="search" class="form-control ms-2" placeholder="" name="keyword"><button class="btn btn-primary">Tìm</button>
                    </label>
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-between  align-items-center mt-3">
            <!-- Dropdown List for Categories -->

            <h5 class="card-title mb-0">DataTable Course</h5>
            <div>
                <div class="dropdown">
                    <button class="dropdown-btn badge bg-label-primary align-items-center"><i class="bx bx-export me-sm-1"></i> Export <i class="bi bi-chevron-down fs-6"></i></button>
                    <div class="dropdown-content">
                        <a href="#"><i class="bx bxs-file-pdf me-2"></i> PDF</a>
                        <a href="#">
                            @using (Html.BeginForm("ExportCsv", "Course", FormMethod.Get))
                            {

                                <i class="bx bx-file me-1"></i>
                                <button type="submit" style="outline:none; border: none; background-color: transparent">Csv</button>
                            }
                        </a>
                        <a href="#"><i class="bx bx-printer me-2"></i> Print</a>
                    </div>
                </div>
                <a asp-action="CreateCourse" class="btn btn-primary text-white ms-3"><i class="bx bx-plus me-sm-1 fs-4"></i> Create New</a>
            </div>
           
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Image
                        </th>
                        <th>
                            Staff Name
                        </th>
                        <th>
                            Level
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            DiscountPrice
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Total buyer
                        </th>
                        <th>
                            TimeTotal
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="text-align: center">
                            @{
                                string levelClass = "bg-label-info";

                                if (item.LevelName  == "Beginner")
                                {
                                    levelClass = "bg-label-secondary";
                                }
                                else if (item.LevelName  == "Intermediate")
                                {
                                    levelClass = "bg-label-primary";
                                }
                                else if (item.LevelName  == "Expert")
                                {
                                    levelClass = "bg-label-danger";
                                }
                            }
                            <td>
                                <img src="@item.ImageCourseUrl" width="150" height="100" />
                            </td>
                            <td><span>@item.StaffName</span></td>
                            <td>
                                <span class="badge me-1 @levelClass">
                                    @item.LevelName 
                                </span>
                            </td>

                            <td class="hidetext">
                                <p class="content">@item.Title</p>
                            </td>
                            <td>@item.Price.ToString("#,##0")</td>
                            <td>@String.Format("{0:#,##0}", item.DiscountPrice)</td>
                            <td>
                                <span class="badge me-1 @(item.Status ? "bg-label-success" : "bg-label-warning")">
                                    @item.Status
                                </span>
                            </td>
                            <td>@item.Count</td>
                            <td class="time-cell" data-seconds="@item.TimeTotal"></td>
                            <!-- Đoạn mã JavaScript để chuyển đổi giây thành giờ, phút và giây -->
                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    const timeCells = document.querySelectorAll('.time-cell');

                                    timeCells.forEach(function (cell) {
                                        const totalSeconds = parseInt(cell.dataset.seconds, 10);

                                        // Kiểm tra xem có dữ liệu hay không
                                        if (!isNaN(totalSeconds) && totalSeconds !== 0) {
                                            const hours = Math.floor(totalSeconds / 3600);
                                            const remainingSeconds = totalSeconds % 3600;
                                            const minutes = Math.floor(remainingSeconds / 60);
                                            const seconds = remainingSeconds % 60;

                                            // Tạo một mảng để lưu trữ các phần của thời gian
                                            const timeParts = [];

                                            // Thêm giờ vào mảng nếu giờ khác 0
                                            if (hours > 0) {
                                                timeParts.push(`${hours}h`);
                                            }

                                            // Thêm phút vào mảng nếu phút khác 0 hoặc không có giờ
                                            if (minutes > 0 || timeParts.length === 0) {
                                                timeParts.push(`${minutes}m`);
                                            }

                                            // Thêm giây vào mảng nếu giây khác 0 hoặc không có giờ và phút
                                            if (seconds > 0 || timeParts.length === 0) {
                                                timeParts.push(`${seconds}s`);
                                            }

                                            // Hiển thị giá trị giờ, phút và giây trong ô cell
                                            cell.textContent = timeParts.join(' ');
                                        } else {
                                            // Nếu không có dữ liệu, hiển thị chuỗi trống
                                            cell.textContent = '';
                                        }
                                    });
                                });
                            </script>
                            <td>
                                <div class="d-flex align-item mb-2">
                                    <a class="dropdown-item" asp-action="EditCourse" asp-route-id="@item.CourseId">
                                        <span class="badge bg-label-info me-1">
                                            <i class="bx bx-edit-alt"></i>
                                        </span>
                                    </a> 
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#smallModal-@item.CourseId" style="cursor: pointer">
                                        <span class="badge bg-label-danger">
                                            <i class="bx bx-trash"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="btn btn-sm btn-primary btn-show" href="#" type="button" data-bs-toggle="modal" data-bs-target="#myModal-@item.CourseId">Show</a>
                            </td>
                        </tr>

                        @* Small Model Delete *@
                        <div class="modal fade" id="smallModal-@item.CourseId" tabindex="-1" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel2">Notification</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col mb-3">
                                                <h3>Do you want to delete?</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="myModal-@item.CourseId">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-body" id="modal-content-@item.CourseId">
                                        @await Html.PartialAsync("_PopupViewPartial", item)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Hiển thị phân trang -->
    <nav aria-label="..." class="d-flex justify-content-center" style="margin-top: 20px">
        <ul class="pagination">
            @if (ViewBag.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
    <!-- Hiển thị phân trang -->

    <style>
        select {
            word-wrap: normal;
            padding: 6px 12px;
            border-radius: 5px;
            outline: none;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-btn {
            padding: 10px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 130px;
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            z-index: 1;
            border-radius: 0px 5px 5px;
        }
            .dropdown-content a {
                color: #333;
                text-decoration: none;
                padding: 5px 8px;
                display: block;
                width: 100%;
                transition: .3s ease;
            }
                .dropdown-content a:hover {
                    background-color: #ddd;
                }
        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</div>

