@model WeLearnOnine_Website.Models.User


<div class="container light-style flex-grow-1 container-p-y account-profile">
      <h3 class="fw-bold fs-1 py-3 mb-4 mt-3 text-center">
        Edit Profile
      </h3>
      <div class="row account-profile-inner">
        <div class="d-flex align-items-start">
          <div class="nav flex-column nav-pills me-3 col-md-2" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-general" type="button" role="tab" aria-controls="v-pills-general"
              aria-selected="true">General</button>
           @*  <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-password"
              type="button" role="tab" aria-controls="v-pills-password" aria-selected="false">Change password</button> *@
            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-info"
              type="button" role="tab" aria-controls="v-pills-info" aria-selected="false">Info</button>
          </div>

          <div class="tab-content col-md-10" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel"
              aria-labelledby="v-pills-general-tab">
                    <div class="card-body media d-flex align-items-center">
                        @if (@Model.Avatar != null)
                        {
                            <img id="selectedImage2" src="@Model.Avatar" class="d-block ui-w-80" style="height: 100px !important;width: 200px !important;">
                        }
                        else
                        {
                            <img id="selectedImage2" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="d-block ui-w-80" style="height: 150px; width: 200px;">
                        }
                    </div>

              <hr class="border-light m-0">
              <div class="card-body">
                <div class="form-group">
                  <label class="form-label">Username</label>
                  <p class="form-control mb-1">@Model.UserName</p>
                </div>
                <div class="form-group">
                  <label class="form-label">E-mail</label>
                  <p class="form-control mb-1">@Model.Email</p>
                </div>
              </div>
            </div>
          @*   <div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
              <div class="card-body pb-2">
                <div class="form-group">
                  <label class="form-label">New password</label>
                  <input type="password" class="form-control">
                </div>
                <div class="form-group">
                  <label class="form-label">Repeat new password</label>
                  <input type="password" class="form-control">
                </div>
              </div>
            </div> *@
            <div class="tab-pane fade" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">
              <div class="card-body pb-2">
                <div class="form-group">
                  <label class="form-label">Bio</label>
                  <textarea class="form-control" style="height: 100px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis
                  </textarea>
                </div>
                <!-- <div class="form-group">
                  <label class="form-label">Birthday</label>
                  <input type="text" class="form-control" value="May 3, 1995">
                </div> -->
                <div class="form-group">
                  <label class="form-label">Address</label>
                  <p class="form-control mb-1">@Model.Address</p>
                </div>
              </div>
              <hr class="border-light m-0">
              <div class="card-body pb-2">
                <h6 class="mb-4">Contacts</h6>
                <div class="form-group">
                  <label class="form-label">Phone</label>
                  <p class="form-control mb-1">@Model.PhoneNumber</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right mt-3 d-flex justify-content-end">
            <a asp-action="EditUser" asp-controller="UserProfile" class="btn btn-main-white me-3">
                <i class="bx bx-edit-alt"></i>
                <span>Edit Profile</span>
            </a>
            <a asp-action="Index" asp-controller="Home" class="btn btn-cancel">
                <span>Back Home</span>
            </a>
        </div>
      </div>
</div>