@model IEnumerable<WeLearnOnine_Website.Models.Course>
<!-- banner section start -->
<section class="banner-section d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="banner-text">
                    <h2 class="mb-3">An investment in knowledge pays the the best interest.</h2>
                    <h1 class="mb-3 text-capitalize">best online platform for learning.</h1>
                    <p class="mb-4">
                        With the spirit of continuous learning, we always learn from each other.
                        WeLearn is confident that it is a user-friendly and useful platform.
                    </p>
                    <p>- You never walk alone -</p>
                    <a href="#" class="btn btn-theme">join free</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner-img">
                    <div class="circular-img">
                        <div class="circular-img-inner">
                            <div class="circular-img-circle"></div>
                            <img src="~/img/banner-img.png" alt="banner img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->
<!-- courses section start -->
<section class="courses-section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title text-center">
                    <h2 class="title">courses</h2>
                    <p class="sub-title">Find the right course for you</p>
                </div>
            </div>
        </div>
        <div class="row">
            @*  <!-- courses item start -->
            <div class="courese-wrapper col-md-6 col-lg-3">
            <div class="courses-item">
            <a href="course-details.html" class="link">
            <div class="courses-item-inner">
            <div class="img-box">
            <img src="~/img/courses/web-development/html.png" alt="course img">
            </div>
            <h3 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, saepe qui consequuntur facilis quae minus.</h3>
            <div class="instructor">
            <img src="~/img/instructor/1.png" alt="instructor img">
            <span class="instructor-name">Joe Doe</span>
            </div>
            <div class="rating">
            <span class="average-rating">(4.5)</span>
            <span class="average-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            </span>
            <span class="reviews">(230)</span>
            </div>
            <div class="price-discount d-flex align-items-center"><span>&#8363;</span> 1,999,000</div>
            <div class="price d-flex align-items-center"><span>&#8363;</span> 1,690,000</div>
            <div class="seller d-flex justify-content-end"><span>Bestseller</span></div>
            </div>
            </a>
            </div>
            </div>
            <!-- courses item end -->
            <!-- courses item start --> *@
            @*   <div class="courese-wrapper col-md-6 col-lg-3">
            <div class="courses-item">
            <a href="course-details.html" class="link">
            <div class="courses-item-inner">
            <div class="img-box">
            <img src="~/img/courses/web-development/learnpython.jpg" alt="course img">
            </div>
            <h3 class="title">100 Days of Code: The Complete Python Pro Bootcamp for 2023</h3>
            <div class="instructor">
            <img src="~/img/instructor/1.png" alt="instructor img">
            <span class="instructor-name">Dr.Angela Yu</span>
            </div>
            <div class="rating">
            <span class="average-rating">(4.5)</span>
            <span class="average-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            </span>
            <span class="reviews">(420)</span>
            </div>
            <div class="price-discount d-flex align-items-center"><span>&#8363;</span> 2,999,000</div>
            <div class="price d-flex align-items-center"><span>&#8363;</span> 2,190,000</div>
            </div>
            </a>
            </div>
            </div> *@
            <!-- courses item end -->
            <!-- courses item start -->
            @*   <div class="courese-wrapper col-md-6 col-lg-3">
            <div class="courses-item">
            <a href="course-details.html" class="link">
            <div class="courses-item-inner">
            <div class="img-box">
            <img src="~/img/courses/web-development/ai.jpg" alt="course img">
            </div>
            <h3 class="title">Machine Learning A-Z™: AI, Python & R + ChatGPT Bonus [2023]</h3>
            <div class="instructor">
            <img src="~/img/instructor/1.png" alt="instructor img">
            <span class="instructor-name">Kirill Edison</span>
            </div>
            <div class="rating">
            <span class="average-rating">(4.5)</span>
            <span class="average-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            </span>
            <span class="reviews">(175,549)</span>
            </div>
            <div class="price-discount d-flex align-items-center"><span>&#8363;</span> 1,999,000</div>
            <div class="price d-flex align-items-center"><span>&#8363;</span> 1,500,000</div>
            </div>
            </a>
            </div>
            </div> *@
            <!-- courses item end -->
            <!-- courses item start -->
            @foreach (var p in Model)
            {
                <div class="courese-wrapper col-md-6 col-lg-3">
                    <div class="courses-item">
                        <a asp-controller="Course" asp-action="Details" asp-route-id="@p.CourseId" class="link">


                            <div class="courses-item-inner">

                                <div class="img-box">
                                    <img src="@p.ImageCourseUrl" alt="course img">
                                </div>
                                <h3 class="title">@p.Title</h3>
                                <div class="instructor">
                                    <img src="~/img/instructor/1.png" alt="instructor img">
                                    <span class="instructor-name">@p.Staff.StaffName</span>
                                </div>
                                <div class="rating">
                                    <span class="average-rating">@p.Rating</span>
                                    <span class="average-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </span>
                                    <span class="reviews">(1.050)</span>
                                </div>
                                @if (p.DiscountPrice > 0)
                                {
                                    <div class="price-discount d-flex align-items-center">
                                        @p.Price.ToString("#,##0") đ
                                    </div>
                                    <div class="price d-flex align-items-center">
                                        <p>@String.Format("{0:#,##0}", p.DiscountPrice) đ</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="price d-flex align-items-center">
                                        @p.Price.ToString("#,##0") đ
                                    </div>
                                }


                            </div>
                        </a>

                    </div>

                </div>
                <!-- courses item end -->
            }

        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <a asp-controller="Course" asp-action="Index" class="btn btn-theme">view all courses</a>
            </div>
        </div>
    </div>
</section>
<!-- courses section end -->
<!-- fun fact section start -->
<section class="fun-facts-section">
    <div class="container">
        <div class="box py-2">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="fun-facts-item">
                        <div class="style-1 counter" data-goal="800">0 <span>k</span></div>
                        <p>student we've</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="fun-facts-item">
                        <div class="style-2 counter" data-goal="500">0 <span>+</span></div>
                        <p>courses</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="fun-facts-item">
                        <div class="style-3 counter" data-goal="50">0 <span>+</span></div>
                        <p>countries</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="fun-facts-item">
                        <div class="style-4 counter" data-goal="100">0 <span>+</span></div>
                        <p>skilled constructors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var counters = document.querySelectorAll('.counter');

        counters.forEach(function (counter) {
            var goal = parseInt(counter.getAttribute('data-goal'));
            var count = 0;

            var updateCounter = function () {
                counter.innerHTML = Math.floor(count) + ' <span>k</span>';
                count += goal / 1000; // Thay đổi tốc độ tăng giảm tùy ý
                if (count < goal) {
                    requestAnimationFrame(updateCounter);
                } else {
                    counter.innerHTML = goal + ' <span>k</span>';
                }
            };

            updateCounter();
        });
    });
</script>
<br>
<!-- fun fact section end -->
<!-- testimonials section start -->
<section class="testimonials-section section-padding position-relative">
    <div class="decoration-circles">
        <div class="decoration-circles-item"></div>
        <div class="decoration-circles-item"></div>
        <div class="decoration-circles-item"></div>
        <div class="decoration-circles-item"></div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title text-center">
                    <h2 class="title">student feedback</h2>
                    <p class="sub-title">What our students say</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="img-box rounded-circle position-relative">
                    <img src="~/img/testimonial/1.png" class="w-100 js-testimonial-img rounded-circle" alt="testimonial img" />
                </div>

                <div id="carouselOne" class="carousel slide text-center" data-bs-ride="carousel">
                    <div class="carousel-inner mb-4">
                        <div class="carousel-item active" data-js-testimonial-img="img/testimonial/3.png">
                            <div class="testimonials-item">
                                <p class="text-1">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem consequuntur magni
                                    eligendi, perferendis sint placeat fugit veniam iusto a temporibus?
                                </p>
                                <h3>Joe Doe</h3>
                                <p class="text-2">web developer</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-js-testimonial-img="img/testimonial/2.png">
                            <div class="testimonials-item">
                                <p class="text-1">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem consequuntur magni
                                    eligendi, perferendis sint placeat fugit veniam iusto a temporibus?
                                </p>
                                <h3>Henry Kane</h3>
                                <p class="text-2">App developer</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-js-testimonial-img="img/testimonial/3.png">
                            <div class="testimonials-item">
                                <p class="text-1">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem consequuntur magni
                                    eligendi, perferendis sint placeat fugit veniam iusto a temporibus?
                                </p>
                                <h3>Jenny Sophia</h3>
                                <p class="text-2">Designer developer</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselOne" data-bs-slide="prev">
                        <i class="fas fa-arrow-left"></i>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselOne" data-bs-slide="next">
                        <i class="fas fa-arrow-right"></i>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- testimonials section end -->
<!-- become a instructor section start -->
<section class="bai-section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="box">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="circular-img-inner position-relative">
                                <img src="~/img/bai-img.png" alt="bai img">
                                <div class="circular-img-circle position-absolute"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="section-title m-0">
                                <h2 class="title">become a instructor</h2>
                                <p class="sub-title">Become a Instructor</p>
                            </div>
                            <a href="#" class="btn btn-theme">apply now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- become a instructor section end -->