@model WeLearnOnine_Website.ViewModels.ShoppingCartViewModel
<!-- breadcrumb start -->
<div class="breadcrumb-nav">
    <div class="container-fluid mx-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">shopping-cart</li>
            </ol>
        </nav>
    </div>
</div>

<!-- breadcrumb end -->
<!-- Checkout Section Begin -->
<!-- Checkout -->
<div class="checkout-container">
    <div class="container-xxl">
        <div class="page__container">
            <h2 class="heading text-center fs-1 fw-bold mb-5">Xem lại yêu cầu đăng ký</h2>
            <div class="checkout-container d-flex">
                <div class="checkout-left col-6">
                    <div class="order-item">
                           @foreach (var detail in Model.Bill.BillDetails)
                        {
                            <div class="order-item__inner row">
                                <div class="order-item__img col-3">
                                    <img
                                         alt="" class="order-item__image cover ls-is-cached lazyloaded"
                                         style="object-fit: cover; border-radius: 10px;"
                                         src="@detail.Course.ImageCourseUrl"
                                         style="width: 100%;" height="120">
                                </div>
                                <div class="order-item__content col-9 d-flex flex-column justify-content-center">
                                    <h5 class="order-item__title">
                                        <a>@detail.Course.Title</a>
                                    </h5>
                                        <div class="order-item__price hidden-mb d-flex justify-content-between mt-3">
                                            <div class="price-group d-flex">
                                            <h5 class="price me-xl-5">@detail.Course.Price.ToString("#,##0")đ</h5>
                                                @if (detail.Course.DiscountPrice.HasValue)
                                                {
                                                    <div class="price-sale text-decoration-line-through">@String.Format("{0:#,##0}", detail.Course.DiscountPrice)</div>
                                                }
                                            </div>
                                             <form method="post" asp-action="RemoveFromCart" asp-route-courseId="@detail.Course.CourseId">
                                                <button type="submit" class="order-item__remove ">
                                                    <span class="primary pe-xl-5">Bỏ khóa này</span>
                                                </button>
                                            </form>
                                        </div>
                                </div>
                            </div>
                        }
                    </div>
                    <h3 class="order-box__heading mt-4">Chọn phương thức thanh toán</h3>
                    <div class="payment__list">
                        <div class="payment__item d-flex align-items-center p-4" data-value="1">
                            <div class="payment__info col-7">
                                <img class="payment__icon" src="https://kt.city/static/icon-transfer.png"
                                     width="40" height="40">
                                <span class="payment__name ps-3">
                                    Chuyển khoản <span class="hidden-mb">
                                        ngân
                                        hàng
                                    </span>
                                </span>
                            </div>
                            <div class="payment__desc col-4">Hoàn thành ngay</div>
                            <input class="payment__check col-1" type="radio" name="payment__check" />
                        </div>
                        <div class="payment__item d-flex align-items-center p-4" data-value="2">
                            <div class="payment__info col-7">
                                <img class="payment__icon" src="https://kt.city/static/icon-momo.png" width="40"
                                     height="40">
                                <span class="payment__name ps-3">
                                    <span class="hidden-mb">Ví điện tử</span>
                                    MOMO
                                </span>
                            </div>
                            <div class="payment__desc col-4">Hoàn thành ngay</div>
                            <input class="payment__check col-1" type="radio" name="payment__check" />
                        </div>
                        <div class="payment__item d-flex align-items-center p-4" data-value="3">
                            <div class="payment__info col-7">
                                <img class="payment__icon" src="https://kt.city/static/card-vnpay.png"
                                     width="40" style="object-fit: cover;">
                                <span class="payment__name ps-3">Quét VNpay QRcode</span>
                            </div>
                            <div class="payment__desc col-4">Hoàn thành ngay</div>
                            <input class="payment__check col-1" type="radio" name="payment__check" />
                        </div>
                    </div>
                </div>
                <div class="checkout-right col-6">
                    <div class="order-box order-total">
                        <div class="order-total__top d-flex justify-content-between">
                            <div class="order-price-all">
                                <div class="order-price d-flex align-items-center">
                                    <div class="price fs-4 me-4">599,000đ</div>
                                    <div class="price-sale">Giá gốc: 999,000đ</div>
                                </div>
                                <div class="order-saving">Tiết kiệm 41% (400,000đ)</div>
                            </div>
                            <div class="coupon">
                                <div class="coupon-add">
                                    <img src="/static/gmb-coupon.png" alt="" class="icon">
                                    <input type="text" placeholder="Nhập Mã COUPON..." />
                                    <button class="text">Áp dụng</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="user-info d-flex flex-column align-items-start mt-4">
                            <div class="user-info__header mt-4">
                                <h4 class="user-info__title purple bolder">Thông tin cá nhân</h4>
                            </div>
                            <div class="user-info__item mt-4 align-items-center">
                                <i class="bi bi-person fs-5 pe-2"></i>
                                <span class="user-info__text">Quoc Nguyen</span>
                            </div>
                            <div class="user-info__item mt-4">
                                <i class="bi bi-envelope fs-5 pe-2"></i>
                                <span class="user-info__text">quoc.nng2002@gmail.com</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn-complete mt-5">
                        <span>Hoàn tất đăng ký </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout Section End -->
