@model WeLearnOnine_Website.ViewModels.ShoppingCartViewModel
<!-- breadcrumb start -->
<div class="breadcrumb-nav">
    <div class="container-fluid mx-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">shopping-cart</li>
            </ol>
        </nav>
    </div>
</div>

<!-- breadcrumb end -->
<!-- Checkout Section Begin -->
<!-- Checkout -->
<div id="paymentMethodError" class="alert alert-danger" style="display:none;">
    Vui lòng chọn phương thức thanh toán.
</div>
<div class="checkout-container">
    <div class="container-xxl">
        <div class="page__container">
            <h2 class="heading text-center fs-1 fw-bold mb-5">Xem lại yêu cầu đăng ký</h2>
            <form id ="checkoutForm" asp-controller="ShoppingCart" asp-action="Checkout" method="post">
                <div class="checkout-container d-flex">
                <div class="checkout-left col-6">
                    <div class="order-item">
                           @foreach (var detail in Model.Bill.BillDetails)
                        {
                            <div class="order-item__inner row" id="course-@detail.Course.CourseId">
                                <div class="order-item__img col-3">
                                    <img
                                         alt="" class="order-item__image cover ls-is-cached lazyloaded"
                                         style="object-fit: cover; border-radius: 10px; width: 100%;"
                                         src="@detail.Course.ImageCourseUrl" height="120">
                                </div>
                                <div class="order-item__content col-9 d-flex flex-column justify-content-center">
                                    <h5 class="order-item__title">
                                        <a>@detail.Course.Title</a>
                                    </h5>
                                        <div class="order-item__price hidden-mb d-flex justify-content-between mt-3">
                                            <div class="price-group d-flex">
                                                @if (detail.Course.DiscountPrice.HasValue)
                                                {
                                                    <h5 class="price me-xl-5">@detail.Course.DiscountPrice.Value.ToString("#,##0")đ</h5>
                                                    <div class="price-sale text-decoration-line-through">@detail.Course.Price.ToString("#,##0")đ</div>
                                                }
                                                else
                                                {
                                                    <h5 class="price me-xl-5">@detail.Course.Price.ToString("#,##0")đ</h5>
                                                }
                                            </div>
                                            <button type="button" class="order-item__remove" onclick="removeFromCart(@detail.Course.CourseId)">
                                                <span class="primary pe-xl-5">Bỏ khóa này</span>
                                            </button>
                                        </div>
                                </div>
                            </div>
                        }
                    </div>
                    <h3 class="order-box__heading mt-4">Chọn phương thức thanh toán</h3>
                    <div class="payment__list">
                        <div class="payment__item d-flex align-items-center p-4" data-value="1">
                            <div class="payment__info col-7">
                                <img class="payment__icon" src="https://kt.city/static/icon-transfer.png"
                                     width="40" height="40">
                                <span class="payment__name ps-3">
                                    Chuyển khoản <span class="hidden-mb">
                                        ngân
                                        hàng
                                    </span>
                                </span>
                            </div>
                            <div class="payment__desc col-4">Hoàn thành ngay</div>
                                <input class="payment__check col-1" type="radio" name="SelectedPaymentMethod" value="BankTransfer" />
                        </div>
                        <div class="payment__item d-flex align-items-center p-4" data-value="2">
                            <div class="payment__info col-7">
                                <img class="payment__icon" src="https://kt.city/static/icon-momo.png" width="40"
                                     height="40">
                                <span class="payment__name ps-3">
                                    <span class="hidden-mb">Ví điện tử</span>
                                    MOMO
                                </span>
                            </div>
                            <div class="payment__desc col-4">Hoàn thành ngay</div>
                                <input class="payment__check col-1" type="radio" name="SelectedPaymentMethod" value="MOMO" />
                        </div>
                        <div class="payment__item d-flex align-items-center p-4" data-value="3">
                            <div class="payment__info col-7">
                                <img class="payment__icon" src="https://kt.city/static/card-vnpay.png"
                                     width="40" style="object-fit: cover;">
                                <span class="payment__name ps-3">Quét VNpay QRcode</span>
                            </div>
                            <div class="payment__desc col-4">Hoàn thành ngay</div>
                                <input class="payment__check col-1" type="radio" name="SelectedPaymentMethod" value="VNPay" />
                        </div>
                    </div>
                </div>
                <div class="checkout-right col-6">
                    <div class="order-box order-total">
                        <div class="order-total__top d-flex justify-content-between">
                            <div class="order-price-all">
                                <div class="order-price d-flex align-items-center">
                                    <div class="price fs-4 me-4" id="price">@Model.TotalDiscountedPrice.ToString("#,##0")đ</div>
                                    <div class="price-sale" id="price-sale">Giá gốc: @Model.TotalOriginalPrice.ToString("#,##0")đ</div>
                                        <input type="hidden" name="TotalDiscountedPrice" value="@Model.TotalDiscountedPrice" />
                                        <input type="hidden" name="TotalOriginalPrice" value="@Model.TotalOriginalPrice" />
                                </div>
                                <div class="order-saving">Tiết kiệm @String.Format("{0:F0}%", (Model.TotalOriginalPrice - Model.TotalDiscountedPrice) / Model.TotalOriginalPrice * 100) (@Model.TotalSaving.ToString("#,##0")đ)</div>
                            </div>
                            <div class="coupon">
                                <div class="coupon-add">
                                    <img src="/static/gmb-coupon.png" alt="" class="icon">
                                    <input type="text" placeholder="Nhập Mã COUPON..." />
                                    <button class="text">Áp dụng</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="user-info d-flex flex-column align-items-start mt-4">
                            <div class="user-info__header mt-4">
                                <h4 class="user-info__title purple bolder">Thông tin cá nhân</h4>
                            </div>
                            <div class="user-info__item mt-4 align-items-center">
                                <i class="bi bi-person fs-5 pe-2"></i>
                                <span class="user-info__text">@Model.UserName</span>
                            </div>
                            <div class="user-info__item mt-4">
                                <i class="bi bi-envelope fs-5 pe-2"></i>
                                <span class="user-info__text">@Model.UserEmail</span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn-complete mt-5">
                        <span>Hoàn tất đăng ký </span>
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Checkout Section End -->
<script>
    function removeFromCart(courseId) {
        $.ajax({
            url: '@Url.Action("RemoveFromCart", "ShoppingCart")',
            type: 'POST',
            data: { courseId: courseId },
            success: function (response) {
                if (response.success) {
                    $(`#course-${courseId}`).remove();
                    updateTotalPrice(response.totalDiscountedPrice, response.totalOriginalPrice, response.totalSaving, response.percentageDiscount);
                    updateCartCount(response.cartCount);

                    if (response.cartCount === 0) {
                        $('.breadcrumb-nav').remove();
                        $('.checkout-container').remove();

                        // Thêm nội dung giỏ hàng trống sau thẻ header
                        appendEmptyCartContent().insertAfter('header');
                    }
                } else {
                       alert(response.message);  
                }
            },
            error: function (error) {
                console.error('Error:', error);
                alert('Có lỗi xảy ra. Vui lòng thử lại.');
            }
        });
    }

    function updateTotalPrice(totalDiscountedPrice, totalOriginalPrice, totalSaving, percentageDiscount) {
        $('#price').text(`${totalDiscountedPrice}đ`);
        $('#price-sale').text(`Giá gốc: ${totalOriginalPrice}đ`);
        $('.order-saving').text(`Tiết kiệm ${percentageDiscount}% (${totalSaving}đ)`);
    }

    function updateCartCount(cartCount) {
        $('.cart-count').text(cartCount);
    }

    function appendEmptyCartContent() {
        var emptyCartContent = $('<div>', {
            id: 'empty-cart-content',
            class: 'Checkout-empty d-flex justify-content-center align-items-center'
        }).append($('<div>', {
            class: 'empty d-flex flex-column align-items-center'
        }).append($('<img>', {
            class: 'empty__image',
            src: 'https://kt.city/static/img-empty-cart.png'
        }), $('<h2>', {
            class: 'empty__title fs-4 mt-5'
        }).append('Giỏ hàng trống, khám phá kiến thức ', $('<a>', {
            class: 'empty__link fw-bold',
            href: '@Url.Action("Index", "Home")'
        }).text('tại đây.'))));

        return emptyCartContent;
    }

    document.getElementById('checkoutForm').addEventListener('submit', function (e) {
        var paymentMethodIsChecked = document.querySelector('input[name="SelectedPaymentMethod"]:checked');
        var paymentMethodsContainer = document.querySelector('.payment__list'); // Chọn khung chứa các phương thức thanh toán

        if (!paymentMethodIsChecked) {
            e.preventDefault(); // Ngăn không cho form submit
            paymentMethodsContainer.classList.add('payment-error'); // Thêm class để hiển thị khung màu đỏ
        } else {
            paymentMethodsContainer.classList.remove('payment-error'); // Loại bỏ class nếu người dùng đã chọn phương thức thanh toán
        }
    });
</script>