@model WeLearnOnine_Website.ViewModels.ShoppingCartViewModel

<!-- breadcrumb start -->
<div class="breadcrumb-nav">
    <div class="container-fluid mx-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">shopping-cart</li>
            </ol>
        </nav>
    </div>
</div>

<!-- breadcrumb end -->
<!-- Checkout Section Begin -->
<!-- Bill Success -->
<div class="checkout-container">
    <div class="container-xxl">
        <div class="page__container">
            <h2 class="checkout-page-heading fs-2 fw-bold mb-5">Hướng dẫn thanh toán cho đơn hàng <span class="text-main-color"> @(Model.Bill.BillCode)</span></h2>
            <div class="checkout-container d-flex">
                @if (Model.Bill.Status == "Successful")
                {
                    <div class="checkout-left col-6">
                        <div class="checkout-left-box">
                            <div class="order order-success order-done d-flex flex-column align-items-center">
                                <img src="https://kt.city/static/ads-success-icon.png" alt="order success"
                                class="order-success-image">
                                <h4 class="checkout-title text-main-color">Thanh toán thành công!</h4>
                                <p>Đơn hàng này đã được thanh toán. Truy cập vào khu vực học tập để bắt đầu học.</p>
                                <a asp-action="Index" asp-controller="Mylearn" class="checkout-action">Khu vực học tập</a>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Bill.Status == "Processing")
                {
                    <div class="checkout-left col-6 p-4">
                        <div class="checkout-left-box">
                            <div class="order order-checkout d-flex flex-column align-items-center">
                                <h3 class="checkout-heading text-main-color">
                                    <i class="bi bi-clock-history"></i> Vui 
                                    lòng thanh toán để hoàn tất
                                </h3>
                                <p class="checkout-notice">
                                    Nhấn vào nút dưới đây để bắt đầu thanh toán bằng MoMo:
                                </p>
                                <button class="checkout-action checkout-action--momo" onclick="location.href='@Model.Bill.PayUrl'">Thanh toán bằng MoMo</button>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Bill.Status == "Fail")
                {
                    <div class="checkout-left col-6">
                        <div class="checkout-left-box">
                            <div class="order order-success order-done d-flex flex-column align-items-center">
                                <img src="~/img/mimochai_failure.gif" alt="order failure"
                                     class="order-success-image" height="250">
                                <!-- <img src="img/remove.png" alt="order failure"
                                    class="order-success-image" height="150"> -->
                                <!-- <img src="img/cancel.png" alt="order failure"
                                    class="order-success-image" height="150"> -->
                                <!-- <img src="img/cancelX.png" alt="order failure"
                                    class="order-success-image" height="150"> -->
                                <!-- <img src="img/close.png" alt="order failure"
                                    class="order-success-image" height="150"> -->
                                <h4 class="checkout-title text-main-color mt-5">Thanh toán Thất Bại!</h4>
                                <p>Đơn hàng này đã chưa được thanh toán. Vui lòng ....</p>
                                <a href="/myclass" class="checkout-action">Khu vực học tập</a>
                            </div>
                        </div>
                    </div>
                }
                    <div class="checkout-right col-6">
                        <div class="review-header d-flex">
                            <div class="review-header-item col-6">
                                <span class="checkout-label">
                                    Xem lại đơn hàng
                                </span>
                                <h4 class="checkout-text text-main-color">@(Model.Bill.BillCode)</h4>
                            </div>
                            <div class="review-header-item">
                                <span class="checkout-label hidden-mb">Phương thức thanh toán</span>
                                <h5 class="checkout-text">@Model.Bill.PaymentMethod</h5>
                            </div>
                            <div class="review-header-item">
                                <h3 class="checkout-text"></h3>
                            </div>
                        </div>
                        <div class="review-user p-4 mb-3">
                            <span class="checkout-label">Khách hàng</span>
                            <h4 class="review-user-name fw-bold">@Model.UserName</h4>
                            <p class="checkout-text">@Model.UserEmail</p>
                        </div>
                    @foreach (var detail in Model.Bill.BillDetails)
                    {
                        <div class="review-order mb-2">
                            <div class="review-order-item d-flex">
                                <img src="@detail.Course.ImageCourseUrl"
                                     alt="@detail.Course.Title"
                                     width="100" height="100" class="review-order-image me-4"
                                     style="object-fit: cover;">
                                <div class="review-order-info">
                                    <h5 class="review-order-name">
                                        @detail.Course.Title
                                    </h5>
                                    <span class="review-order-price">
                                        @if (detail.DiscountPrice.HasValue)
                                        {
                                            @String.Format("{0:#,##0}đ", detail.DiscountPrice)
                                            <span class="price-sale text-decoration-line-through ps-3">@String.Format("{0:#,##0}", detail.Price)</span>
                                        }else{
                                            @String.Format("{0:#,##0}đ", detail.Price)
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                        <div class="review-total d-flex justify-content-center fs-4 fw-bold p-3 mt-3">
                            Tổng cộng:
                            @Model.Bill.Total.ToString("#,##0")đ
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
