@model IEnumerable<WeLearnOnine_Website.Models.Staff>

@{
    ViewData["Title"] = "ListStaff";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@if (TempData["staffError"] != null)
{
    <div class="bs-toast toast toast-placement-ex m-2 fade bg-success top-0 end-0 show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">Notification</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">@TempData["staffError"]</div>
    </div>
}
@if (TempData["staffSuccess"] != null)
{
    <div class="bs-toast toast toast-placement-ex m-2 fade bg-success top-0 end-0 show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">Notification</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">@TempData["staffSuccess"]</div>
    </div>
}


<h4 class="py-3 mb-4"><span class="text-muted fw-light">Staff /</span> Staff Table</h4>

<p>
    <a asp-action="CreateStaff" class="btn rounded-pill btn-primary text-white">
        Create New
    </a>
</p>

<div class="card">
    <h5 class="card-header">Staffs Table</h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Avatar
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            PhoneNumber
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Experience
                        </th>                               
                        <th>
                            FacebookUrl
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="text-align: center">
                            @{
                                string staffClass = "bg-label-secondary";

                                if (item.Role == "Instructor")
                                {
                                    staffClass = "bg-label-info";
                                }
                                else if (item.Role == "Đào Tạo")
                                {
                                    staffClass = "bg-label-primary";
                                }
                                else if (item.Role == "Admin")
                                {
                                    staffClass = "bg-label-danger";
                                }
                            }
                            <td>
                                <img src="@item.AvatarUrl" width="80" height="80" style="border-radius: 50px" />
                            </td>
                            <td><span>@item.StaffName</span></td>
                            <td>
                                <span class="badge me-1 @staffClass">
                                    @item.Role
                                </span>
                            </td>
                            <td>@item.Email</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Address</td>
                            <td class="hidetext">
                                <p>@item.Experience</p>
                                <button class="expand-button" style="display: none; border: none; width: 20px; height: 20px; background-color: transparent">&#9660;</button>
                            </td>
                            <td class="hidetext">
                                <p>@item.FacebookUrl</p>
                                <button class="expand-button" style="display: none; border: none; width: 20px; height: 20px; background-color: transparent">&#9660;</button>
                            </td>
                            <td>
                                <a class="dropdown-item mb-2" asp-action="EditStaff" asp-route-id="@item.StaffId" style="color: #03c3ec; background-color:#d7f5fc; border-color: #b3edf9; padding: 5px 8px; border-radius: 5px;cursor:pointer"><i class="bx bx-trash me-1"></i> Edit</a>
                                <a class="dropdown-item mb-2" data-bs-toggle="modal" data-bs-target="#smallModal-@item.StaffId" style="color: #ff3e1d; background-color:#ffe0db; border-color: #ffc5bb; padding: 5px 8px; border-radius: 5px; cursor:pointer"><i class="bx bx-edit-alt me-1"></i> Delete</a>
                                <a class="btn btn-info btn-show" href="#" type="button" data-bs-toggle="modal" data-bs-target="#myModal-@item.StaffId">Show</a>
                            </td>
                        </tr>

                        @* Small Model Delete *@
                        <div class="modal fade" id="smallModal-@item.StaffId" tabindex="-1" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel2">Notification</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col mb-3">
                                                <h3>Do you want to delete?</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.StaffId">@item.StaffId Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="myModal-@item.StaffId">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-body" id="modal-content-@item.StaffId">
                                        @await Html.PartialAsync("_PopupViewPartial", item)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>

        <!-- Hiển thị phân trang -->
        <nav aria-label="..." class="d-flex justify-content-center" style="margin-top: 20px">
            <ul class="pagination">
                @if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                    </li>
                }

                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- Hiển thị phân trang -->

    </div>
