@model WeLearnOnine_Website.Models.Category
@inject WeLearnOnine_Website.Repositories.ICategoryRepository service
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fuild flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Category/</span> Create New</h4>
    <form asp-action="SaveCategory" method="post" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-8">
                <div class="card">
                    <div class="card-body">
                   @*      <div class="form-group mb-3">
                            <label asp-for="CategoriesId" class="control-label"></label>
                            <input asp-for="CategoriesId" class="form-control" />
                            <span asp-validation-for="CategoriesId" class="text-danger"></span>
                        </div> *@

                     @*    <div class="input-group mb-3">
                            <span class="input-group-text">Name</span>
                            <textarea class="form-control" aria-label="With textarea" asp-for="CategoryName"></textarea>
                        </div> *@

                        <div>
                            <label for="defaultFormControlInput" class="form-label">Name</label>
                            <input asp-for="CategoryName" type="text" class="form-control" id="defaultFormControlInput" placeholder="ASP.net Developer">
                            <div id="defaultFormControlHelp" class="form-text alert alert-warning mt-1">
                                Note: Entering a category name without selecting the categories below will default to the first category.
                            </div>
                        </div>

                        <div class="input-group my-3">
                            <style>
                                select {
                                    padding: 10px 15px;
                                    outline:none;
                                    border: 1px solid #ccc;
                                }
                                
                            </style>

                    @*         <select name="category" id="category" asp-for="ParentCategories">
                                <option value="">None</option>
                                <optgroup label="Level 1">
                                    @foreach (var item in service.GetRootCategories())
                                    {
                                        <option value="@item.CategoriesId">@item.CategoryName</option>
                                    }
                                </optgroup>
                                <optgroup label="Level 2"> *@
                                    @* <option value="">Select Level 2</option> *@
                                 @*    @foreach (var item in service.GetRootCategories())
                                    {
                                        @foreach (var subitem_multi2 in service.GetSubCategories(item.CategoriesId))
                                        {
                                            <option value="@subitem_multi2.CategoriesId">@subitem_multi2.CategoryName</option>
                                        }
                                    }
                                </optgroup> *@
                               @*  <optgroup label="Level 3">
                                    <option value="">Select Level 3</option>
                                    @foreach (var item in ViewBag.Level3)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </optgroup> *@
                           @*  </select> *@
                            <div class="input-group my-3">
                                <label class="input-group-text" asp-for="ParentCategories">Category</label>
                                    <select asp-for="ParentCategories" asp-items="ViewBag.CategoriesId" class="form-select">
                                    <option asp-for="ParentCategories" value="null">Default</option>
                                </select>
                            </div>

                        </div>

                        <div class="input-group mt-3 d-flex justify-content-end">
                            <input class="btn btn-primary mx-3" value="Create" type="submit">

                            <a asp-action="Index" class="btn btn-outline-secondary
                                        <span class="bx me-1">Cancel</span>
                                    </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@* <div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentCategories" class="control-label"></label>
                <input asp-for="ParentCategories" class="form-control" />
                <span asp-validation-for="ParentCategories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 *@
<div>
    <a asp-action="Index">Back to List</a>
</div>

