@inject WeLearnOnine_Website.Repositories.ICategoryRepository service
<!DOCTYPE html>
<html lang="en">

<head>
    <title> We Learn Online </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awsome icon -->
    <link rel="stylesheet" href="~/css/font-awesome.css">

    <link rel="shortcut icon" href="~/img/online-education.png" type="image/x-icon">

    <!-- font awsome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">


    <!-- swiperJS CSS -->
    <link rel="stylesheet" href="~/css/swiper-bundle.css">

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/style.css">

    <!-- color Theme -->
    <link rel="stylesheet" href="~/css/colors/color-1.css">

    <!-- bootstrap icon cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body class="t-dark">
    <!-- main wrapper start -->
    <div class="main-wrapper">

        <!-- header start -->
        <header class="header">
            <div class="container-xxl">
                <div class="header-main d-flex justify-content-between align-items-center">
                    <div class="header-logo">
                        <a asp-action="Index" asp-controller="Home"><span>We</span>Learn</a>
                    </div>

                    <button type="button" class="header-hamburger-btn js-header-menu-toggler">
                        <span></span>
                    </button>
                    <div class="header-backdrop js-header-backdrop"></div>

                    <div class="menu-item pe-4">
                        <ul class="menu-multi">
                            <li>
                                categories
                                <ul class="submenu-multi">
                                    @foreach (var item in service.GetRootCategories())
                                    {
                                        <li>
                                            <a asp-action="CourseByCategory" asp-controller="Course" asp-route-categoryId="@item.CategoriesId">@item.CategoryName</a>
                                            <i class="bi bi-chevron-right"></i>
                                            <ul class="submenu-multi2">
                                                @foreach (var subitem_multi2 in service.GetSecondLevelCategories(item.CategoriesId))
                                                {
                                                    <li class="inline-block">
                                                        <a asp-action="CourseByCategory" asp-controller="Course" asp-route-categoryId="@subitem_multi2.CategoriesId">@subitem_multi2.CategoryName</a>
                                                        <i class="bi bi-chevron-right"></i>
                                                        <ul class="submenu-multi3">
                                                            @foreach (var subitem_multi3 in service.GetThirdLevelCategories(subitem_multi2.CategoriesId))
                                                            {
                                                                <li><a asp-action="CourseByCategory" asp-controller="Course" asp-route-categoryId="@subitem_multi3.CategoriesId">@subitem_multi3.CategoryName</a></li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <form asp-controller="Course" asp-action="Search" asp-for="keyword" method="post" class="search-input">
                        <span><i class="fas fa-search"></i></span>
                        <input type="text" name="keyword" placeholder="Search for anything">
                    </form>
                    <nav class="header-menu js-header-menu">
                        <button type="button" class="header-close-btn js-header-menu-toggler">
                            <i class="fas fa-times"></i>
                        </button>
                        <ul class="menu h-100">
                            <li class="menu-item menu-item-has-children">
                                <a href="#" class="js-toggle-sub-menu">courses<i class="fas fa-chevron-down"></i></a>
                                <ul class="sub-menu js-sub-menu">
                                    <li class="sub-menu-item"><a asp-action="Index" asp-controller="Course">courses</a></li>
                                    <li class="sub-menu-item"><a href="course-details.html">my courses</a></li>
                                    <li class="sub-menu-item"><a asp-action="Details" asp-controller="Course">Details Course</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a asp-action="Index" asp-controller="Mylearn">My learning</a></li>
                            <li class="menu-item icon-color-theme"><a href="#"><i class="far fa-heart"></i></a></li>
                            <li class="menu-item"><a asp-action="Index" asp-controller="Cart"><i class="fas fa-shopping-cart"></i></a></li>
                            <li class="menu-item"><a href="#"><i class="far fa-bell"></i></a></li>
                        </ul>
                    </nav>

                    <!-- <div class="menu-item btn-login overflow-hidden"><a class="fw-bold" href="log-in.html ">Login</a></div>
                    <div class="menu-item btn-signup overflow-hidden"><a class="fw-bold" href="sign-up.html">Sign Up</a></div> -->

                    <div class="menu-item user-profile">
                        <div class="img-user-profile">
                            <img src="~/img/instructor/1.png" alt="img profile" class="user-pic" onclick="menuToggle()">
                        </div>

                        <div class="sub-menu-box" id="subMenuUser">
                            <div class="sub-menu-user">
                                <div class="user-info">
                                    <img src="~/img/instructor/1.png">
                                    <div class="info-name">
                                        <h3>Joe Doe</h3><span>JoeDoe123@gmail.com</span>
                                    </div>
                                </div>
                                <hr>
                                <a href="user-profile.html" class="sub-menu-links">
                                    <i class="bi bi-person-circle"></i>
                                    <p>Edit Profile</p><span>></span>
                                </a>
                                <a asp-action="FavList" asp-controller="Home" class="sub-menu-links">
                                    <i class="bi bi-heart"></i>
                                    <p>My Favorites</p><span>></span>
                                </a>
                                <a href="#" class="sub-menu-links">
                                    <i class="bi bi-gear"></i>
                                    <p>Setting</p><span>></span>
                                </a>
                                <a href="#" class="sub-menu-links">
                                    <i class="bi bi-question-circle"></i>
                                    <p>Help</p><span>></span>
                                </a>
                                <a href="#" class="sub-menu-links">
                                    <i class="bi bi-door-open"></i>
                                    <p>Log Out</p><span>></span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- header end -->
        @RenderBody()

        <!-- footer start -->
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-item">
                                <h3><span class="footer-logo">tws</span>tudy</h3>
                                <ul>
                                    <li><a href="#">about</a></li>
                                    <li><a href="#">what we offer</a></li>
                                    <li><a href="#">careers</a></li>
                                    <li><a href="#">certificates</a></li>
                                    <li><a href="#">blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-item">
                                <h3>learning</h3>
                                <ul>
                                    <li><a href="#">get the app</a></li>
                                    <li><a href="#">testimonials</a></li>
                                    <li><a href="#">pricing</a></li>
                                    <li><a href="#">faq</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-item">
                                <h3>more</h3>
                                <ul>
                                    <li><a href="#">affiliates</a></li>
                                    <li><a href="#">become a course creator</a></li>
                                    <li><a href="#">training webinars</a></li>
                                    <li><a href="#">free personality test</a></li>
                                    <li><a href="#">help and support</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-item">
                                <h3>get in touch</h3>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook social-icon"></i> facebook</a></li>
                                    <li><a href="#"><i class="fab fa-twitter social-icon"></i> twitter</a></li>
                                    <li><a href="#"><i class="fab fa-instagram social-icon"></i> instagram</a></li>
                                    <li><a href="#"><i class="fab fa-youtube social-icon"></i> youtube</a></li>
                                    <li><a href="#"><i class="fab fa-linkedin social-icon"></i> linkedin</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <p class="mt-0 py-4 text-center">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Education IT
                    </p>
                </div>
            </div>
        </footer>
        <!-- footer end -->


    </div>
    <!-- main wrapper end -->
    <!-- style switcher start -->
    <div class="style-switcher js-style-switcher">
        <div class="style-switcher-toggler js-style-switcher-toggler">
            <i class="fas fa-cog"></i>
        </div>
        <h3>Style Switcher</h3>
        <div class="style-switcher-item">
            <p class="mb-2">Theme Colors</p>
            <!-- theme color -->
            <div class="theme-colors js-theme-colors">
                <button type="button" data-js-theme-color="color-1" class="js-theme-color-item color-1"></button>
                <button type="button" data-js-theme-color="color-2" class="js-theme-color-item color-2"></button>
                <button type="button" data-js-theme-color="color-3" class="js-theme-color-item color-3"></button>
                <button type="button" data-js-theme-color="color-4" class="js-theme-color-item color-4"></button>
                <button type="button" data-js-theme-color="color-5" class="js-theme-color-item color-5"></button>
            </div>
        </div>
        <div class="style-switcher-item">
            <div class="form-check form-switch">
                <input class="form-check-input js-dark-mode" type="checkbox" role="switch" id="dark-mode">
                <label class="form-check-label" for="dark-mode">Dark Mode</label>
            </div>
        </div>
    </div>
    <!-- style switcher end -->
   @*  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> *@
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/main.js"></script>

</body>

</html>