@model WeLearnOnine_Website.ViewModels.DetailCourseViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> We Learn Online </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awsome icon -->
    <link rel="stylesheet" href="~/css/font-awesome.css">

    <link rel="shortcut icon" href="~/img/online-education.png" type="image/x-icon">

    <!-- font awsome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">


    <!-- swiperJS CSS -->
    <link rel="stylesheet" href="~/css/swiper-bundle.css">

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/style.css">

    <!-- color Theme -->
    <link rel="stylesheet" href="~/css/colors/color-1.css">

    <!-- bootstrap icon cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body class="t-dark">
    <!-- page loader start -->
    <div class="page-loader js-page-loader">
        <div></div>
    </div>

    <!-- main wrapper start -->
    <div class="main-wrapper">

        <main class="container-fluid container-playlist">
            <section class="main-video">

                <video src="@Model.Course.Lessons.FirstOrDefault()?.UrlVideo" id="video-player" controls muted></video>
                <h3 id="video-title">@Model.Title</h3>

                <!-- course tabs start -->
                <nav class="course-tabs">
                    <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="course-description-tab" data-bs-toggle="tab"
                                 data-bs-target="#course-description" type="button" role="tab" aria-controls="course-description"
                                 aria-selected="false">
                            Description
                        </button>

                        <button class="nav-link" id="course-instructor-tab" data-bs-toggle="tab"
                                data-bs-target="#course-instructor" type="button" role="tab" aria-controls="course-instructor"
                                aria-selected="false">
                            Instructor
                        </button>
                        <button class="nav-link" id="course-reviews-tab" data-bs-toggle="tab" data-bs-target="#course-reviews"
                                type="button" role="tab" aria-controls="course-reviews" aria-selected="false">
                            Reviews
                        </button>
                    </div>
                </nav>
                <!-- course tabs end -->
                <!-- tab panes start -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- course description start -->
                    <div class="tab-pane fade show active" id="course-description" role="tabpanel"
                         aria-labelledby="course-description-tab" tabindex="0">
                        <div class="course-description box">
                            <h3 class="text-capitalize mb-4">description</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloremque quia necessitatibus
                                cupiditate dolorum magni culpa debitis. Fugit at recusandae porro nobis quos dolores incidunt
                                cupiditate, iure quod nostrum a?
                            </p>
                            <h4>For who is this course designed ?</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloremque quia necessitatibus
                                cupiditate dolorum magni culpa debitis. Fugit at recusandae porro nobis quos dolores incidunt
                                cupiditate, iure quod nostrum a?
                            </p>
                            <h4>Why should you take this course ?</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloremque quia necessitatibus
                                cupiditate dolorum magni culpa debitis. Fugit at recusandae porro nobis quos dolores incidunt
                                cupiditate, iure quod nostrum a?
                            </p>
                        </div>
                    </div>
                    <!-- course description end -->
                    <!-- course instructor start -->
                    <div class="tab-pane fade" id="course-instructor" role="tabpanel" aria-labelledby="course-instructor-tab"
                         tabindex="0">
                        <div class="course-instructor box show active">
                            <h3 class="mb-3 text-capitalize">instructor</h3>
                            <div class="instructor-details">
                                <div class="details-wrap d-flex align-items-center flex-wrap  ">
                                    <div class="left-box me-4">
                                        <div class="img-box">
                                            <img src="~/img/instructor/1.png" class="rounded-circle" alt="instructor img">
                                        </div>
                                    </div>
                                    <div class="right-box">
                                        <h4>john doe <span>(web development)</span></h4>
                                        <ul>
                                            <li><i class="fas fa-star"></i> 4.5 Rating</li>
                                            <li><i class="fas fa-play-circle"></i> 10 Courses</li>
                                            <li><i class="fas fa-certificate"></i> 3000 Reviews</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="mb-0">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, quidem commodi
                                        quos asperiores in voluptas officia, neque rem quisquam soluta enim fugiat dolor, illum tempore
                                        consequuntur veritatis? Molestias, minus, maiores atque aspernatur laboriosam beatae nobis
                                        labore corrupti quaerat alias neque reprehenderit repellendus eius pariatur, ratione repellat
                                        blanditiis temporibus sit nihil?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- course instructor end -->
                    <!-- course reviews start -->
                    <div class="tab-pane fade" id="course-reviews" role="tabpanel" aria-labelledby="course-reviews-tab"
                         tabindex="0">
                        <div class="course-reviews box">
                            <!-- rating summary start -->
                            <div class="rating-summary">
                                <h3 class="mb-4 text-capitalize">students feedback</h3>
                                <div class="row">
                                    <div class="col-md-4 d-flex align-items-center justify-content-center text-center">
                                        <div class="rating-box">
                                            <div class="average-rating">@Model.Course.Rating</div>
                                            <div class="average-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                            </div>
                                            <div class="reviews">@Model.Course.Comments.Count reviews</div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="rating-bars">
                                            <!-- rating bar item star -->
                                            <div class="rating-bars-item">
                                                <div class="star-text">5 Star</div>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 50%"></div>
                                                </div>
                                                <div class="percent">50%</div>
                                            </div>
                                            <!-- rating bar item end -->
                                            <!-- rating bar item star -->
                                            <div class="rating-bars-item">
                                                <div class="star-text">4 Star</div>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 30%"></div>
                                                </div>
                                                <div class="percent">30%</div>
                                            </div>
                                            <!-- rating bar item end -->
                                            <!-- rating bar item star -->
                                            <div class="rating-bars-item">
                                                <div class="star-text">3 Star</div>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 10%"></div>
                                                </div>
                                                <div class="percent">10%</div>
                                            </div>
                                            <!-- rating bar item end -->
                                            <!-- rating bar item star -->
                                            <div class="rating-bars-item">
                                                <div class="star-text">2 Star</div>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 7%"></div>
                                                </div>
                                                <div class="percent">7%</div>
                                            </div>
                                            <!-- rating bar item end -->
                                            <!-- rating bar item star -->
                                            <div class="rating-bars-item">
                                                <div class="star-text">1 Star</div>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 3%"></div>
                                                </div>
                                                <div class="percent">3%</div>
                                            </div>
                                            <!-- rating bar item end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- rating summary end -->
                            <!-- reviews filter star -->
                            <div class="reviews-filter">
                                <h3 class="mb-4 text-capitalize">@Model.Course.Comments.Count reviews</h3>
                                <form action="">
                                    <div class="form-group">
                                        <i class="fas fa-chevron-down select-icon"></i>
                                        <select class="form-control">
                                            <option value="">All Reviews</option>
                                            <option value="1">1 Stars</option>
                                            <option value="2">2 Stars</option>
                                            <option value="3">3 Stars</option>
                                            <option value="4">4 Stars</option>
                                            <option value="5">5 Stars</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                     

                            <h4>Comment and Rate this course</h4>
                            <form asp-action="PostCommentAndRating" asp-controller="MyLearn" method="post">
                                <input type="hidden" asp-for="CourseId" />

                                <div class="form-group">
                                    <label asp-for="ContentNote"></label>
                                    <textarea asp-for="ContentNote" class="form-control py-5"></textarea>
                                    <span asp-validation-for="ContentNote" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label for="stars">Rate this course:</label>
                                    <select name="stars">
                                        <option value="1">1 Star</option>
                                        <option value="1.5">1.5 Star</option>
                                        <option value="2">2 Stars</option>
                                        <option value="2.5">2.5 Star</option>
                                        <option value="3">3 Stars</option>
                                        <option value="3.5">3.5 Stars</option>
                                        <option value="4">4 Stars</option>
                                        <option value="4.5">4.5 Stars</option>
                                        <option value="5">5 Stars</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit Comment and Rating</button>
                            </form>

                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                            <script>
                                $(document).ready(function () {
                                    $("#comment-form").on("submit", function (e) {
                                        e.preventDefault();
                                        var form = $(this);

                                        $.ajax({
                                            type: "POST",
                                            url: form.attr("/MyLearn/PostCommentAndRatingAsync"),
                                            data: form.serialize(),
                                            success: function (data) {
                                                $("#comments-container").append(data);
                                                form[0].reset(); // Xóa nội dung comment sau khi gửi
                                            },
                                            error: function () {
                                                // Xử lý lỗi nếu cần
                                            }
                                        });
                                    });
                                });

                            </script>

                            <!-- comment post zone end -->
                            <!-- reviews list start -->
                            <div class="reviews-list">
                                <partial name="../MyLearn/PostComment.cshtml" />
                                <!-- reviews item start -->
                                @foreach (var c in Model.Comments.OrderByDescending(c => c.Date))
                                {
                                    <div class="reviews-item">
                                        <div class="img-box">
                                            <img src="~/img/review/1.png" alt="review img">
                                        </div>
                                        @if (c.ReplyId != null)
                                        {
                                            <h4>@c.Staff.StaffName</h4>
                                        }
                                        else
                                        {
                                            <h4>@c.User.UserName</h4>
                                        }
                                        <div class="stars-rating">
                                            @foreach (var userCourseRating in ViewBag.CourseRating)
                                            {
                                                double rating = userCourseRating.Rating;

                                                for (int i = 1; i <= 5; i++)
                                                {
                                                    <i class="fas fa-star @((i <= Math.Round(rating)) ? "rated" : "")"></i>
                                                }

                                                <br />
                                            }
                                            <span class="date">@c.Date</span>
                                        </div>

                                        <p>@c.ContentNote</p>
                                      
                                        <button class="reply-button btn btn-primary" data-comment-id="@c.CmtId">Reply</button>
                                        <div class="reply-form reply-form-@c.CmtId" data-comment-id="@c.CmtId">
                                            <form class="hidden" asp-action="ReplyToComment" asp-controller="Comment">
                                                <input type="hidden" asp-for="@c.CmtId" />
                                                <label asp-for="ContentNote"></label>
                                                <textarea asp-for="ContentNote" placeholder="Your Reply" class="form-control py-5"></textarea>
                                                <span asp-validation-for="ContentNote" class="text-danger"></span>

                                                <button type="submit" class="btn btn-primary">Post</button>
                                            </form>
                                        </div>
                                        
                                    </div>
                                }



                                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                                <script>
                                    $(document).ready(function () {
                                        $(".reply-button").on("click", function () {
                                            var commentId = $(this).data("comment-id");
                                            $(".reply-form.reply-form-" + commentId).toggle();

                                            // Fetch and display existing replies
                                            $.ajax({
                                                type: "GET",
                                                url: "/MyLearn/GetReplies",
                                                data: { parentCommentId: commentId },
                                                success: function (data) {
                                                    $("#replies-" + commentId).html(data);
                                                },
                                                error: function () {
                                                    console.log("Error fetching replies");
                                                }
                                            });
                                        });

                                        $(".reply-form form").on("submit", function (e) {
                                            e.preventDefault();

                                            var form = $(this);

                                            $.ajax({
                                                type: "POST",
                                                url: form.attr("/MyLearn/ReplyToComment"),
                                                data: form.serialize(),
                                                success: function (data) {
                                                    var commentId = data.ParentCommentId;
                                                    $(".reply-form.reply-form-" + commentId).hide();

                                                    // Append the new reply to the replies container
                                                    $("#replies-" + commentId).append(data);
                                                },
                                                error: function () {
                                                    console.log("Error posting reply");
                                                }
                                            });
                                        });
                                    });

                                </script>

                            
                            </div>
                           




@* 
                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                            <script>
                                $(document).ready(function () {
                                    $(".reply-button").on("click", function () {
                                        var parentCommentId = $(this).data("comment-id");
                                        var commenterName = $(this).data("commenter-name");

                                        var replyContent = prompt("Reply to " + commenterName + ":");

                                        if (replyContent) {
                                            $.ajax({
                                                type: "POST",
                                                url: "/MyLearn/ReplyToComment",
                                                data: { parentCommentId: parentCommentId, replyContent: replyContent },
                                                success: function (data) {
                                                    if (data.success) {
                                                        $("#comments-container").append(data.replyHtml);
                                                    } else {
                                                        alert("Failed to add reply.");
                                                    }
                                                },
                                                error: function () {
                                                    alert("Error while processing your request.");
                                                }
                                            });
                                        }
                                    });
                                });
                            </script> *@
                      
                            <nav aria-label="..." class="d-flex justify-content-center" style="margin-top: 20px">
                                <ul class="pagination">
                                    @if (ViewBag.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("MyLearningLessons", new { courseid = ViewBag.CourseId, page = ViewBag.CurrentPage - 1 })" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    }

                                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                    {
                                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("MyLearningLessons", new { courseid = ViewBag.CourseId, page= i })">@i</a>
                                        </li>
                                    }

                                    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("MyLearningLessons", new { courseid = ViewBag.CourseId, page = ViewBag.CurrentPage + 1 })" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>

                        </div>


                    </div>
                    <!-- course reviews end -->
                </div>

                <!-- tab panes end -->
            </section>
            <section class="video-playlist">
                <h3 class="title">@Model.Course.Title</h3>
                <p>@Model.Course.Lessons.Count lessons &nbsp; . &nbsp; 50m 48s</p>
                <div class="videos">
                    @foreach (var v in Model.Course.Lessons)
                    {

                        <div class="video" data-url="@v.UrlVideo" data-title="@v.Title" data-lessonid="@v.LessonId">
                            <img src="@v.ImageLessonUrl" alt="">

                            <h3 class="title">@v.Title</h3>
                            <p class="time">@v.Time</p>
                        </div>
                        @*  </a> *@
                    }
                </div>

                @*  <div id="video-player">
                <!-- Video player will be dynamically added here -->

                </div> *@
            </section>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    console.log('DOMContentLoaded event fired');
                    var videoItems = document.querySelectorAll('.video');
                    var currentVideoElement = document.getElementById('video-player');
                    var currentTitleElement = document.getElementById('video-title');
                    videoItems.forEach(function (item) {
                        item.addEventListener('click', function () {
                            var videoUrl = item.getAttribute('data-url');
                            var videoTitle = item.getAttribute('data-title');

                            console.log('Clicked video:', videoTitle, 'URL:', videoUrl);

                            playVideo(videoUrl, videoTitle);
                        });
                    });

                    function playVideo(videoUrl, videoTitle) {
                        // Pause the current video
                        if (currentVideoElement) {
                            currentVideoElement.pause();
                        }

                        // Remove the current video element
                        currentVideoElement.parentNode.removeChild(currentVideoElement);

                        // Add new video player
                        var videoElement = document.createElement('video');
                        videoElement.setAttribute('controls', 'controls');

                        var sourceElement = document.createElement('source');
                        sourceElement.setAttribute('src', videoUrl);
                        sourceElement.setAttribute('type', 'video/mp4');

                        videoElement.appendChild(sourceElement);
                        currentTitleElement.insertAdjacentElement('afterend', videoElement);

                        // Display the video title
                        currentTitleElement.textContent = videoTitle;

                        // Set the current video element for pausing later
                        currentVideoElement = videoElement;

                        // Start playing the new video
                        currentVideoElement.play();
                    }
                });


            </script>

        </main>
    </div>
    <!-- main wrapper end -->
    <!-- style switcher start -->
    <div class="style-switcher js-style-switcher">
        <div class="style-switcher-toggler js-style-switcher-toggler">
            <i class="fas fa-cog"></i>
        </div>
        <h3>Style Switcher</h3>
        <div class="style-switcher-item">
            <p class="mb-2">Theme Colors</p>
            <!-- theme color -->
            <div class="theme-colors js-theme-colors">
                <button type="button" data-js-theme-color="color-1" class="js-theme-color-item color-1"></button>
                <button type="button" data-js-theme-color="color-2" class="js-theme-color-item color-2"></button>
                <button type="button" data-js-theme-color="color-3" class="js-theme-color-item color-3"></button>
                <button type="button" data-js-theme-color="color-4" class="js-theme-color-item color-4"></button>
                <button type="button" data-js-theme-color="color-5" class="js-theme-color-item color-5"></button>
            </div>
        </div>
        <div class="style-switcher-item">
            <div class="form-check form-switch">
                <input class="form-check-input js-dark-mode" type="checkbox" role="switch" id="dark-mode">
                <label class="form-check-label" for="dark-mode">Dark Mode</label>
            </div>
        </div>
    </div>
    <!-- style switcher end -->
    @*  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> *@
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>